.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 150px;
    position: absolute;
    z-index: 2;
    left: 150px;
    bottom: 120px;
  }
  
  .baloon {
    width: 100px;
    position: absolute;
    z-index: 3;
    left: 200px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    left: 200px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 4;
    left: 350px;
    bottom: 100px;
  }
